%section#graph
  %img{:src => @image_path + "temperature.png", :width => 940, :height => 299}
  %img{:src => @image_path + "voltage.png", :width => 940, :height => 299}
  %img{:src => @image_path + "humidity.png", :width => 940, :height => 299}
  %img{:src => @image_path + "light.png", :width => 940, :height => 299}
  %img{:src => @image_path + "wind.png", :width => 940, :height => 299}
  %img{:src => @image_path + "pressure.png", :width => 940, :height => 299}